div.Booking {
    width: 100vw;
    height: 100vh;
    background-color: var(--bone);
    text-align: center;
    overflow-y:auto;
    h1 {
        font-family: var(--Playfair);
        font-weight: 450;
    }
}