@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

div.Services {
    background-color: #F0EBE4;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 4rem;

    h1 {
        font-weight: 400;
        font-family: "Playfair Display", serif;
        color: #1E1E1E;
    }

    h3 {
        font-family: "Playfair Display", serif;
        color: #F19A3E;
        font-weight: 400;
        font-size: medium;
    }


    
}

