div.menuList {
    ul {
        position: absolute;
        top: -5px;
        left: 15px;
        flex: 0 0 auto;
        display: flex;
        list-style: none;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: smaller;
    }
    
    ul li a {
        
        display: block;
        text-decoration: none;
        color: black;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
        list-style: none;
    }
    
    
    ul li a:hover {
        color: #F19A3E;
        cursor: pointer;
    }
    
    @media (max-width: 950px) {
        ul {
            
            background-color: #f1f1f1;
            flex-direction: column;
            width: 100%;
            display: none;
            top: 2rem;            
            left: 50%;        
            transform: translate(-50%);
            padding: 0;
            z-index: 5;
        }
    
        ul.open {
            display: flex;
        }
    
        ul li {
            text-align: center;
            width: 100%;
        }
    
        ul li a {
            margin: 0.2rem 0.5rem;
            
        }
    }
}
